<!-- start custom footer snippets -->
<div class="page__footer-follow">
    <ul class="social-icons">
      <li><a href="/glossary/" rel="nofollow noopener noreferrer">
        <i class="fa fa-book"></i> Glossary</a>
      </li>
      <li><a href="/cheatsheets/" rel="nofollow noopener noreferrer">
        <i class="fa fa-pen"></i> Cheat Sheets</a>
      </li>
      <li>
        <a href="/privacy/" rel="nofollow noopener noreferrer">
          <i class="fa fa-user-secret" aria-hidden="true"></i> Privacy</a>
      </li>
      <li>
        <a href="https://learnwith.danphillips.ca/" rel="nofollow noopener noreferrer">
          <i class="fa fa-comment" aria-hidden="true"></i> Feedback</a>
        </li>
    </ul>
  </div>
<!-- end custom footer snippets -->