
/* Game Grid*/

body, a {
    background-color: #eee;;
    text-decoration: none;
}

body {
    background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(https://lh3.googleusercontent.com/pw/AP1GczOdq55YabHw33zuhpmRmEWTP3DGbxJwet8nqxmUbw_IBy39m_eprtBfdqcd90GsOjSfP6E-u2BxhWbC0Nk3W51gaGyu99mVLJs4J6_m5y9PQM676Sa_O7wzdK1Kw0p22d07RRQp9fvzT-7crUixsKWefA=w1080-h1440-s-no-gm?authuser=0);
    background-size: cover;
}

.game-board {
    min-width:770px;
    background-color: black;
    padding-left: 3rem;
    padding-right: 3rem;
}

.custom-alert {
    background-color: #fff; /* Custom background color */
    color: #363636; /* Custom text color */
    border-color: #363636; /* Custom border color */
    background-color: #cccccc;
    opacity: 90%
}

/*Game Title*/
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.file-name {

}

/*Card Positioning and Sizing*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.center-text {
    display: flex;
    justify-content: center;
}


/*All Cards*/
.card, .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0055AA;
    border: none;
    text-shadow: 1px 1px 5px black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #ffcc00;
    font-size: 50px;
    flex-direction: column; /*Necessary if categories break lines*/
    height: 100%; /*Necessary if categories break lines*/
}

.category-label .card-body {
    color: white;
    font-size: 30px;
}

/*Close button for alert*/
.alert {
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    border: none;
    background:none;
}

.close:hover {
    opacity: 1;
}


/*Question and Answer Modals*/
.modal-content {
    width:750px;
}

.modal-dialog {
    height: 80vh;
}

.modal-body {
    font-size: 40px;
}
