/* styles.css */

:root {
    /* Primary color variations */
    --primary-color: #4c368c;
    --primary-color-light: #fff;
    --bg-dark: #363636;
    --primary-color-dark: #0056b3;
    --primary-color-hover: #0056b3;
    --primary-color-active: #004380;
    --primary-color-focus: #004380;

}

h1 {
    color: #363636;
    line-height: 1.2;
    font-family: "Playfair Display", "DM Serif Text";
    font-weight: 500;
}

#backButton {
    position: fixed;
    background: white;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
